/* Background Colors */
$primary-bg-color: #9AD5D3;
$secondary-bg-color: #57CCE7;
$text-bg-color: #f1f5db;

/* Text Colors */
$primary-font-color: #202020; 
$secondary-font-color: #fff; 
$standout-font-color: #F67B1C;

/* Highlight Color */
$highlight-color: #FF5D03;