header {
  margin: 0;
  height: 40px;
  background-color: grayscale($color: #757575);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

