@use "./modules/card.scss";
@use "./modules/card-wrapper.scss";
@use "./modules/header.scss";
@use "./modules/search-box.scss";

* {
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
}