/* Background Colors */
/* Text Colors */
/* Highlight Color */
.card {
  display: flex;
  flex-direction: column;
  background-color: #f1f5db;
  border: 0.5px solid #c4c3c3;
  border-radius: 15px;
  padding: 20px;
  font-size: 100%;
  padding-left: 0;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
@media only screen and (max-width: 576px) {
  .card {
    font-size: small;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .card {
    font-size: small;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .card {
    font-size: small;
  }
}
.card--top {
  display: flex;
  flex-direction: row;
}
.card--top__image {
  width: 128px;
  height: 190px;
}
.card--top__body {
  width: 100%;
  padding-left: 20px;
}
.card--top__body h2, .card--top__body p {
  margin: 0;
}
.card--top__body--title {
  color: #F67B1C;
}
.card--top__body--authors {
  margin-top: 10px;
  font-size: 14px;
}
.card--top__body--publication-year {
  margin-top: 5px;
  font-size: 14px;
}
.card--top__body--type {
  margin-top: 10px;
  font-style: italic;
}
.card--bottom {
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
}
.card--bottom--description {
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card--bottom--details-link {
  align-items: center;
  text-align: right;
  font-weight: bold;
}
.card--bottom--details-link p {
  margin-bottom: 0;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-wrapper {
  background-color: #9AD5D3;
  color: #444;
  justify-content: center;
  width: 1020px;
  margin-top: 30px;
}
@media only screen and (max-width: 576px) {
  .card-wrapper {
    grid-template-columns: 1fr;
    width: 320px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .card-wrapper {
    grid-template-columns: 1fr;
    width: 450px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
    width: 730px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1164px) {
  .card-wrapper {
    width: 850px;
    grid-template-columns: 1fr 1fr;
  }
}

header {
  margin: 0;
  height: 40px;
  background-color: #57CCE7;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.search-box {
  height: fit-content;
  background-color: #f1f5db;
  color: #202020;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #9AD5D3;
  color: #202020;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
