@use "./modules/card.scss";
@use "./modules/card-wrapper.scss";
@use "./modules/button.scss";
@use "./modules/modal.scss";
@use "./modules/header.scss";
@use "./modules/search-box.scss";

@use "./partials/palette.scss";

* {
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: palette.$primary-bg-color;
    color: palette.$primary-font-color;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}